<div id="about" class="about-section pt-5">
  <div class=" container about-title border-bottom">
    <h2>About Me</h2>
    
</div>
<div class="container pt-5 about-container">
  <div class="row">
      <div class="col-md-6 col-xs-6 col-lg-6">
        <img class="img-fluid" src="../../../assets/images/about-me-light.jpg" alt="">
      </div>
      
      <div class="col-md-6 col-xs-6 col-lg-6 ">
    
          <p>
              My name is Alona Belkin,<br/> 
              I was born in Tel Aviv, Israel, and grew up with parents that work in different design fields, which is how I got the passion of telling a story without words.
          </p>
          <p>
            I studied at ״Hakfar Ha’Yarok” high school of leadership and environmental studies, where I majored in Biology and Theater. 
      
          <p>
            I worked for three years in GLZ radio as a reporter, producer, editor and head of the podcast department.
          </p>
          <p>
            Now, after a long while of focusing on sound and radio, I wish to expand my work and knowledge in cinema and theater sets, and get my hands a little dirty.
          </p>
        </div>
  </div>
</div>
  <div class="container text-center mt-5">
    <p>
      Email: BelkinAlona@gmail.com
    </p>
    <p>
      Tel: +972-504292232
    </p>
  </div>
  <div>
    <app-footer></app-footer>
</div>
</div>

