:host{
    width: 100%;
    min-height: 100%;
}

.play-container{
    width: 100%;
    min-height: 200%;
    background-image: url('../../../assets/images/balck-rain-back-ground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.title{
    padding-top: 10%;
    text-align: center;
    padding-bottom: 10%;
    >h1{
        color: white;
        font-family: Heebo;
    }
}


.img-hover:hover{
    cursor: pointer;
opacity: 0.7;
}

.text{
    color: white;
    font-family: Heebo;
    font-size: 20px;
    padding-bottom: 2%;
}