<div class = "play-main">
    <div class=" container title border-bottom mt-5">
        <h2>Costume Making and Character Design</h2>
        <p>I have always loved dressing and making up different characters, so from a young age I've been sowing my own costumes and outfits.</p>
    </div>
    <div class="container mt-5">
            <div class="row-ben mb-5 mt-5"> 
                <div  class="column">
                    <img src="../../../assets/images/clothing-new3.png" style="width:100%">                 
                    <img src="../../../assets/images/clothing-new4.png" style="width:100%">
                    <img src="../../../assets/images/clothing-new15.png" style="width:100%">
                    <img src="../../../assets/images/clothing-new6.png" style="width:100%">             
                    
                </div>
                <div class="column">
                    <img src="../../../assets/images/clothing-new13.png" style="width:100%">
                    <img src="../../../assets/images/clothing-new9.png" style="width:100%">
                    <img src="../../../assets/images/clothing-new14.png" style="width:100%">
                    <img src="../../../assets/images/clothing-new1.png" style="width:100%">   
                    <img src="../../../assets/images/clothing-new11.png" style="width:100%">                  
                    <img src="../../../assets/images/clothing-new12.png" style="width:100%">
                
                </div>  
                <div class="column">
                    <img src="../../../assets/images/clothing-new8.png" style="width:100%">                      
                    <img src="../../../assets/images/clothing-new7.png" style="width:100%">                   
                    <img src="../../../assets/images/clothing-new16.png" style="width:100%">
                    <img src="../../../assets/images/clothing-new5.png" style="width:100%">                    
                    <img src="../../../assets/images/clothing-new10.png" style="width:100%">
                    <img src="../../../assets/images/clothing-new2.png" style="width:100%">
                </div>
    </div>
</div>