<div class = "play-main">
    <div class=" container title border-bottom mt-5">
        <h2>Costume Making and Character Design</h2>
        <p>I have always loved dressing and making up different characters, so from a young age I've been sewing my own costumes and outfits.</p>
    </div>
    <div class="container mt-5 mb-5">
            <div class="row-ben mb-5 mt-5"> 
                <div  class="column">
                    <img src="../../../assets/images/בגדים/clothing-new3.jpg" style="width:100%">                 
                    <img src="../../../assets/images/בגדים/clothing-new4.jpg" style="width:100%">
                    <img src="../../../assets/images/בגדים/clothing-new15.jpg" style="width:100%">
                    <img src="../../../assets/images/בגדים/clothing-new6.jpg" style="width:100%">             
                    
                </div>
                <div class="column">
                    <img src="../../../assets/images/בגדים/clothing-new13.jpg" style="width:100%">
                    <img src="../../../assets/images/בגדים/clothing-new9.jpg" style="width:100%">
                    <img src="../../../assets/images/בגדים/clothing-new14.jpg" style="width:100%">
                    <img src="../../../assets/images/בגדים/clothing-new1.jpg" style="width:100%">   
                    <img src="../../../assets/images/בגדים/clothing-new11.jpg" style="width:100%">                  
                    <img src="../../../assets/images/בגדים/clothing-new12.jpg" style="width:100%">
                
                </div>  
                <div class="column">
                    <img src="../../../assets/images/בגדים/clothing-new8.jpg" style="width:100%">                      
                    <img src="../../../assets/images/בגדים/clothing-new7.jpg" style="width:100%">                   
                    <img src="../../../assets/images/בגדים/clothing-new16.jpg" style="width:100%">
                    <img src="../../../assets/images/בגדים/clothing-new5.jpg" style="width:100%">                    
                    <img src="../../../assets/images/בגדים/clothing-new10.jpg" style="width:100%">
                    <img src="../../../assets/images/בגדים/clothing-new2.jpg" style="width:100%">
                </div>
    </div>

    <app-footer></app-footer>
</div>