:host{
    width: 100%;

}

.main-dream{

    background-image: url('../../../assets/images/dreams-big-banner.png') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.title{
    text-align: center;
    font-size: 50px;
    color: white;
    -webkit-box-shadow: -1px 14px 40px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 14px 40px -1px rgba(0,0,0,0.75);
box-shadow: -1px 14px 40px -1px rgba(0,0,0,0.75);
}


.text{
    color: white;
    font-size: 32px;
    font-weight: 800;
    margin-top: 11%;
}

.audio{
    width: 100%;
    -webkit-box-shadow: -1px -12px 66px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -12px 66px -1px rgba(0,0,0,0.75);
    box-shadow: -1px -12px 66px -1px rgba(0,0,0,0.75);
}


.dream-review{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #a3a3a3;
}

.croc{
    -webkit-box-shadow: -1px 14px 62px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 14px 62px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 14px 62px -1px rgba(0,0,0,0.75);
}

.lion{
    -webkit-box-shadow: -1px 14px 62px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 14px 62px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 14px 62px -1px rgba(0,0,0,0.75);


}
.solider{
    -webkit-box-shadow: -1px 14px 62px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 14px 62px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 14px 62px -1px rgba(0,0,0,0.75);
}

.dream-text{
    display: inline-block;
    padding-top: 2%;
    >h5{

    }
    >span{
        font-size: 20px;
        font-weight: bold;
    }
}

