:host{
    width: 100%;
}

.dream-main{
    width: 100%;
    min-height: 100%;
   .audio{
       width: 100%;
       margin-top: 10px;
   }
   .dream-section{
       border-left: 1px solid #e0e0e0;
       >div {
           padding-left: 3px;
           >img{
    -webkit-box-shadow: 0px 2px 56px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 56px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 56px -11px rgba(0,0,0,0.75);
           }
       }

       
   }
}