<div class="container-fluid main-dream">
  <div>
    <h1 class="title">Dreams</h1>

      <div class="row">
        <div class="col text">
          <span class="pb-3">{{text1}}</span>
          <span class="pb-3">{{text2}}</span>
          <span>{{text3}}</span>
        </div>
      </div>
  </div>
  <div>
    <audio controls class="audio">
      <source src="horse.ogg" type="audio/ogg">
      <source src="horse.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>

<div class="dream-review">
  <div class="container-fluid h-50 pt-5 ">
      <div class="row">
          <div class="col-md-8 col-xs-8 col-sm-8 ">
              <img class="img-fluid croc fadeInLeft" src="../../../assets/images/dreams-croc.png" alt="">
          </div>
          <div class="col-md-4 col-xs-4 col-sm-4 dream-text">
            <div>
            <h3>{{title4}}</h3><br>
            <span>{{text4}}</span>
            </div>

             <div>   
            <audio controls class="audio align-baseline">
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
  </div>
  <div class="container-fluid h-50 pt-3">
      <div class="row">
          <div class="col-md-4 col-xs-4 col-sm-4 dream-text">  
            <div>
            <h3>{{title5}}</h3>
            <span>{{text5}}</span>
          </div>
          <div>
            <audio controls class="audio">
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
         
        </div>          
          <div class="col-md-8 col-xs-8 col-sm-8 ">
            <img class="img-fluid lion" src="../../../assets/images/dreams-lion.png" alt="">
          </div>
        </div>
  </div>
  <div class="container-fluid pb-5 h-50 pt-3">
      <div class="row">
          <div class="col-md-8 col-xs-8 col-sm-8 ">
              <img class="img-fluid solider " src="../../../assets/images/dreams-whale.png" alt="">
          </div>
          <div class="col-md-4 col-xs-4 col-sm-4 dream-text">   
            <div>
              <h3>{{title6}}</h3><br>
              <span>{{text6}}</span>
            </div>
            <div>
              <audio controls class="audio">
                  <source src="horse.ogg" type="audio/ogg">
                  <source src="horse.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>

              </div>       
          </div>
        </div>
  </div>
</div>