<div class=" container dream-main mt-5">
    <div class="container title border-bottom mb-5">
        <h2>Dreams</h2>
        <p>During my service in GLZ radio I established the GLZ Podcasts Department. As part of my work as editor and producer I created the “Dreams” - “חלומות” podcast. Short radio stories episodes that reveal the realms we enter at night. I created 30 episodes that have been listened to over 50,000 times.</p>
        <p>You’re welcome to listen to an episode in English, so you can get a glimpse of the project (Headphones are advised).</p>
        <div class="text-center pl-3">
                <img style="height: 600px;" src="../../../assets/images/homePage/dreams-new-web.jpg" class="img-fluid" alt="">
        </div>
        <audio class="audio pl-3" controls>
                <source src="horse.ogg" type="audio/ogg">
                <source src="../../../assets/images/עריכת חלום ג׳סיקה ריס אחרי בלאנס.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
        </audio>

        
    </div>
    <div class="dream-section mt-5  title"> 
            <p class="pl-3">For each episode I also designed an individual banner to catch the visual essence of the dream.</p>       
            <h2 class="pl-3">A Croc Under the Bed</h2>
            <p class="pl-3">A nightly battle between a sleepy boy and the crocodile under his bed.</p>
        <div class="text-center pl-3">
            <img style="height: 600px" src="../../../assets/images/חלומות/dreams-croc.jpg" class="img-fluid" alt="">
        </div>
        <audio class="audio pl-3" controls>
                <source src="horse.ogg" type="audio/ogg">
                <source src="../../../assets/images/croc under the bed.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
        </audio>
    </div>
    <div class="dream-section mt-5  title">
        
            <h2 class="pl-3">A Lion In The Alley</h2>
            <p class="pl-3">The israeli poet Rony Somek shared a childhood memory of a beloved alley that came to life in his dream.</p>
        <div class="text-center pl-3">
            <img  style="height: 600px" class="img-fluid" src="../../../assets/images/חלומות/dreams-lion.jpg" alt="">
        </div>
        <audio class="audio pl-3" controls>
                <source src="horse.ogg" type="audio/ogg">
                <source src="../../../assets/images/lion in the alley.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
    </div>
    <div class="dream-section mt-5 mb-5 title">        
            <h2 class="pl-3">A Soldier's Decision</h2>
            <p class="pl-3">As a parting gesture from GLZ radio I recorded my own dream into an episode. In the dream I am a heroic soldier who is called to save the day by slaying the mighty evil whale that's attacking Tel Aviv shores. I return victorious but quickly realise I've been fed false information and have been used as a marionette. </p>
        <div class="text-center pl-3">
            <img style="height: 600px" class="img-fluid" src="../../../assets/images/חלומות/dreams-whale.jpg" alt="">
        </div>
        <audio class="audio pl-3" controls>
                <source src="horse.ogg" type="audio/ogg">
                <source src="../../../assets/images/עותק של עריכה חלום אלונה בלקין 13.03.18.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
    </div>

    <app-footer></app-footer>
</div>