
    <div class="title  mt-5">
        <h1>Projects</h1>
    </div>
    <div style="height: 600px" (click) = "goToPage('Dreams')" class="container  img-art-1 pb-5 mt-3 mb-3 pointer">
        <div class="front-text">
            <span>2018</span>
            <h1>Dreams</h1>
            <span class="bold">Podcast</span>
        </div>
    </div>
    <div style="height: 600px" (click) = "goToPage('BlackRain')" class="container   img-art-2 pb-5 mb-3 pointer">
        <div class="front-text">
            <span>2015</span>
            <h1>Black Rain</h1>
            <span class="bold">Set Design</span>
        </div>
    </div>
    <div  style="height: 600px"(click) = "goToPage('Costume')" class=" container  img-art-3 pb-5 mb-3 pointer">
        <div class="front-text">
            <span>2015-2018</span>
            <h1>Costumes &amp; Clothing </h1>
            <span class="bold">Sowing and Sketches</span>
        </div>
    </div>
    <div style="height: 600px" (click) = "goToPage('EvreyOneWantsToLive')" class="container mb-3  img-art-4 pb-5 pointer">
        <div class="front-text">
            <span>2018</span>
            <h1>Every One Wants To Live</h1>
            <span class="bold">Inspiration Board</span>
        </div>
    </div>
    <div style="height: 600px" (click) = "goToPage('SketchBook')" class="container  img-art-5 mb-5 pb-5 pointer">
        <div class="front-text">
            <span>2018</span>
            <h1>Sketchbook</h1>
            <span class="bold">Personal</span>
        </div>
    </div>






