<div id="home" class="home-page">
<div>
  <div class="container text-center title">
      <h1>Alona Belkin Portfolio</h1>
  </div>
  <div class="container-fluid nav-ben">
      <nav class="navbar navbar-expand-lg navbar-light ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item pr-5">
                <a class="nav-link" href="#dream">Dreams Podcast <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item pr-5">
                  <a class="nav-link" href="#blackRin">Black Rain <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item pr-5">
                    <a class="nav-link" href="#costume">Costume <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item pr-5">
                      <a class="nav-link" href="#inspirationBoard">Inspiration Board <span class="sr-only">(current)</span></a>
                    </li>
              <li class="nav-item pr-5">
                <a class="nav-link" href="#sketch">Sketch Book</a>
              </li>
              <li class="nav-item pr-5">
                <a class="nav-link" href="#about">About</a>
              </li>
            </ul>
          </div>
        </nav>
  </div>
</div>

<div class="btn-section">
  <a href="#" class="btn-ben"><</a>
</div>
</div>



