:host{
    width: 100%;
    min-height: 100%;
    font-family: 'Lato';
}

.home-main{
    min-height: 100%;
}



.home-section{
    width: 100% !important;
}

.front-text{
    visibility: hidden;
    
    color: white;
    padding:    8%;
    >h1{
        font-size: 70px;
        font-family: 'Lato';
    }
    >span{
        font-size: 18px;
        font-family: 'Lato';
    }
    .bold{
        font-weight: bold;
        font-family: 'Lato';
    }
}

.img-art-1{
    position: relative;
    z-index: 1;
    background-color: black;

 

    &::before{
        content: "";
        background-image: url('../../../assets/images/homePage/dreams-new-web.jpg');
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
       
    }  
}

.img-art-1:hover::before{
    opacity: 0.6;
    transition: all 0.3s  linear;
 
}

.img-art-1:hover .front-text {
    visibility: visible;
    transition: all 0.3s linear;
}

.img-art-2{
    position: relative;
    z-index: 1;
    background-color: black;

    &::before{
        content: "";
        
        background-image: url('../../../assets/images/homePage/black-rain2-new-web.jpg');
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
       
    }  
}

.img-art-2:hover::before{
    opacity: 0.6;
    transition: all 0.3s  linear;
}

.img-art-3{
    position: relative;
    z-index: 1;
    background-color: black;
 

    &::before{
        content: "";
        
        // background-image: url('../../../assets/images/clothing-new-web.png');
        background-image: url('../../../assets/images/homePage/new-web-clothing-very-new.jpg');
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
       
    }  
}

.img-art-3:hover::before{
    opacity: 0.6;
    transition: all 0.3s  linear;
}

.img-art-4{
    position: relative;
    z-index: 1;
    background-color: black;
 

    &::before{
        content: "";
        
        background-image: url('../../../assets/images/homePage/new-web-hanoch.jpg');
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
       
    }  
}

.img-art-4:hover::before{
    opacity: 0.6;
    transition: all 0.3s  linear;
}

.img-art-5{
    position: relative;
    z-index: 1;
    background-color: black;
 

    &::before{
        content: "";
        
        background-image: url('./../../../assets/images/homePage/new-web-sketch-very-new.jpg');
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
       
    }  
}

.img-art-5:hover::before{
    opacity: 0.6;
    transition: all 0.3s  linear;
}

.title{
    text-align: center;
    >h1{
        font-family: 'Lato';
        font-weight: 800;
    }
}

.pointer{
    cursor: pointer;
}

.img-art-1:hover .front-text {
    visibility: visible;
    transition: all 0.3s linear;
}
.img-art-2:hover .front-text {
    visibility: visible;
    transition: all 0.3s linear;
}
.img-art-3:hover .front-text {
    visibility: visible;
    transition: all 0.3s linear;
}
.img-art-4:hover .front-text {
    visibility: visible;
    transition: all 0.3s linear;
}
.img-art-5:hover .front-text {
    visibility: visible;
    transition: all 0.3s linear;
}

