:host{
    width: 100%;
}

.img-art{
    min-height: 25%;
    max-height: 50%;
    background-color: #333;

    &:hover{
        opacity: 0.9;
        transition: all 0.3s linear;
    }
}

.title{
    text-align: center;
}

.pointer{
    cursor: pointer;
}