<section class="container">
    <div class="title  mt-5">
        <h1>Projects</h1>
    </div>
    <div (click) = "goToPage('bla')" class="row border-bottom img-art pb-5 mt-3 pointer"></div>
    <div (click) = "goToPage('aaa')" class="row border-bottom img-art pb-5 pointer"></div>
    <div (click) = "goToPage('ddd')" class="row border-bottom img-art pb-5 pointer"></div>
    <div (click) = "goToPage('000')" class="row border-bottom img-art pb-5 pointer"></div>
    <div (click) = "goToPage('aaaaaaa')" class="row border-bottom img-art pb-5 pointer"></div>
</section>



