<div class="inspiration-section">
  <div   class=" container title mt-5 b-bottom">
    <h2  >Inspiration Boards</h2>
    <p>One of Israel's best known playwrights, Hanoch Levin, wrote satirical cabarets, domestic comedies and spectacles of doom. I designed these inspiration boards for his doom spectacle “Everyone Wants to Live”, based on Alcestis by Euripides. </p>
  </div>

  <div class="container mt-5 pb-3 b-bottom">
    <div class="text-center mb-3 title">
      <h2 class="">
          Puzna
      </h2>
    </div>
    <div class="row">
      <div  class="col-md-8 col-xs-8 col-lg-8 b-right">
        <img class="img-fluid" src="../../../assets/images/כולם רוצים לחיות/inspiration3.jpg" alt="">
      </div>
      <div class="col-md-4 col-xs-4 col-lg-4 text">
        <p data-aos="fade-up" data-aos-duration="1000">
            The main character in the play. He doesn’t want to die and will do anything to prevent his end. He’s self centered, childish, full of himself and has a distorted perception of reality.
        </p>
      </div>
    </div>
  </div>
  <div class="container mt-5 pb-3 b-bottom">
    <div class="text-center mb-3 title">
      <h2 class="">
          Puznabucha and the Puznasmarks
      </h2>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-8 col-lg-8 b-right">
        <img class="img-fluid" src="../../../assets/images/כולם רוצים לחיות/inspiration4.jpg" alt="">
      </div>
      <div class="col-md-4 col-xs-4 col-lg-4 text">
        <p data-aos="fade-up" data-aos-duration="1000">
            Puzna’s wife and kids. They are vulgar, self centered and grotesque.
        </p>
      </div>
    </div>
  </div>
  <div class="container mt-5 pb-3 b-bottom">
      <div  class="text-center mb-3 title">
        <h2 class="">
            Gulgalevich
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-xs-8 col-lg-8 b-right">
          <img class="img-fluid" src="../../../assets/images/כולם רוצים לחיות/inspiration1.jpg" alt="">
        </div>
        <div class="col-md-4 cl-xs-4 col-lg-4 text">
          <p data-aos="fade-up" data-aos-duration="1000">
              The angel of death’s first assistant. He treats death as a matter of business and as mere bureaucracy.
          </p>
        </div>
      </div>
  </div>
  <div class="container mt-5 pb-3 b-bottom">
      <div class="text-center mb-3 title">
        <h2 class="">
            1st stage concept
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-xs-8 col-lg-8 b-right">
          <img class="img-fluid" src="../../../assets/images/כולם רוצים לחיות/inspiration5.jpg" alt="">
        </div>
        <div class="col-md-4 col-xs-4 col-lg-4 text">
          <p data-aos="fade-up" data-aos-duration="1000">
              The spotlight follows Puzna around the stage while the rest of the characters remain in the shadows. This reflects the way Puzna sees the world - he’s in the center and everyone else are only shadows to his story. 
          </p>
        </div>
      </div>
    </div>
  <div class="container mt-5 pb-3 b-bottom">
      <div class="text-center mb-3 title">
        <h2 class="">
            2nd stage concept
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-xs-8 col-lg-8 b-right">
          <img class="img-fluid" src="../../../assets/images/כולם רוצים לחיות/inspiration6.jpg" alt="">
        </div>
        <div class="col-md-4 col-xs-4 col-lg-4 text">
          <p data-aos="fade-up" data-aos-duration="1000">
              The play deals and discusses the concept of death. Everybody will die eventually and we’re all deteriorating slowly. That is why I chose to resemble the stage to a hole in the ground.
          </p>
        </div>
      </div>
    </div>
  <div class="container mt-5 pb-3 b-bottom mb-5">
      <div class="text-center mb-3 title">
        <h2 class="">
            The ball scenes
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-xs-8 col-lg-8 b-right">
          <img class="img-fluid" src="../../../assets/images/כולם רוצים לחיות/inspiration2.jpg" alt="">
        </div>
        <div class="col-md-4 col-xs-4 col-lg-4 text">
          <p data-aos="fade-up" data-aos-duration="1000">
              Puzna convinces himself that he’d been dreaming the entire time, and that his death has been prevented. He throws a big ball to celebrate his life, but the audience knows that this might be his last supper.
          </p>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
</div>
