<div class="inspiation">

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url(../../../assets/images/dreams-croc.png)"></div>
      <div class="swiper-slide" style="background-image:url(../../../assets/images/dreams-croc.png)"></div>
      <div class="swiper-slide" style="background-image:url(../../../assets/images/dreams-croc.png)"></div>
      <div class="swiper-slide" style="background-image:url(../../../assets/images/dreams-croc.png)"></div>
      <div class="swiper-slide" style="background-image:url(../../../assets/images/dreams-croc.png)"></div>
      <div class="swiper-slide" style="background-image:url(../../../assets/images/dreams-croc.png)"></div>
      <div class="swiper-slide" style="background-image:url(../../../assets/images/dreams-croc.png)"></div>
      <div class="swiper-slide" style="background-image:url(../../../assets/images/dreams-croc.png)"></div>
      <div class="swiper-slide" style="background-image:url(../../../assets/images/dreams-croc.png)"></div>
      <div class="swiper-slide" style="background-image:url(../../../assets/images/dreams-croc.png)"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  

</div>





