:host{
    width: 100%;
}


.title{
    >h2{
        font-family: 'Lato';
        font-weight: bold;
    }

    >p{
        font-family: 'Lato';
        font-weight: 800;
        font-size: 18px;
    }
}

.img{
    -webkit-box-shadow: -7px 10px 58px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 10px 58px 0px rgba(0,0,0,0.75);
box-shadow: -7px 10px 58px 0px rgba(0,0,0,0.75);
}